*{
    margin: 0;
    padding: 0;
  
}  
    body{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      

.cabecalho {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 30%;
}

.escola{
    background-image: linear-gradient(#ffffff,#989898);
    color:rgb(5, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 60%;
}
.escola-titulo{
    padding: 24px 0;
}
 .estudantes{
    padding: 24px;
 }
.foto-Kaik{
 width:120px;
}
.nome-Kaik{
text-align: 

}



